#heatmapContainerWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    /*width: 900px;*/
    /*background:rgba(0,0,0,.1);*/
}

#heatmapContainer {
    position: absolute;
    left: 0px; 
    top: 0px;
    /*width:100%; 
    height:75%;
    min-height: 600px;
    z-index: -1;*/
}

#heatmapContainer_chocolate {
    position: absolute;
    left: 177px; 
    top: 182px;
    width: 30px; 
    height: 218px;
}
/**delta x=156**/
#heatmapContainer_wine {
    position: absolute;
    left: 347px; 
    top: -37px;
    width: 30px; 
    height: 218px;
}

#heatmapContainer_cheese {
    position: absolute;
    left: 471px; 
    top: -256px;
    width: 30px; 
    height: 218px;
}

#heatmapContainer_entrance {
    position: absolute;
    left: 879px; 
    top: -470px;
    width: 30px; 
    height: 218px;
}

#svgHeatmapContainer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}

/**It doens't work for overlay of svg and heatmap**/
.heatmap-convas {
    z-index: -1;
}